.poppins
  font-family: Poppins, sans-serif !important
  font-weight: 600 !important

a
  color: inherit
  text-decoration: inherit

$shadow-key-umbra-opacity: rgba(#fff, 0.2)
$shadow-key-penumbra-opacity: rgba(#fff, 0.14)
$shadow-key-ambient-opacity: rgba(#fff, 0.12)